<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Text evaluation</title>

</head>

<body>
    <header>
    </header>

    <main>
        <section>
            <h1 class="page-title">Natural Language Processing (NPL) Analysis Tool</h1>
            <div class="form">
                <form onsubmit="return Client.sentimentApi(event)">
                    <p id="intro">
                        Extract article sentiment date
                    </p>
                    <input id="submitText" type="text" name="input" value="" placeholder="Paste the article text" required>
                    <input id="submitSentimentButton" type="submit" name="submit" value="Submit" />
                </form>
            </div>
            <br>
            <div class="form">
                <form onsubmit="return Client.classifyApi(event)">
                    <p id="intro">
                        Extract article classification data
                    </p>
                    <input id="submitUrl" type="text" name="input" value="" placeholder="Paste the article URL" required>
                    <input id="submitClassifyButton" type="submit" name="submit" value="Submit" />
                </form>
            </div>
            <br>
            <div class="form">
                <form onsubmit="return Client.entityApi(event)">
                    <p id="intro">
                        Extract article entity data
                    </p>
                    <input id="submitEntityText" type="text" name="input" value="" placeholder="Paste the article text" required>
                    <input id="submitEntityButton" type="submit" name="submit" value="Submit" />
                </form>
            </div>
            <br>
            <h2 class="page-title">Analisys results</h2>
            <h4>Text sentiment: </h4>
            <div class="sentiment-results">
                <div id="polarity"></div>
                <div id="polarity_confidence"></div>
            </div>
            <h4>Article classification: </h4>
            <div class="classify-results">
                <div id="label"></div>
                <div id="classify_confidence"></div>
            </div>
            <h4>Article entities: </h4>
            <div class="entity-results">
                <div id="organization"></div>
                <div id="date"></div>
            </div>
        </section>
    </main>

    <footer>
        <span>© 2020</span>
        <a href="https://github.com/Memnoc/Evaluate_News_NPL" title="Matteo Genesio Stara" target="_blank">Matteo Genesio Stara</a>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>