<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <h3>Udacity project</h3>
        <h1>New Article Evaluation<br> with Natural Language Processing</h1>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <legend>Below put in the URL for the article sentiment evaluation.</legend>
                <input id="hyperlink" type="url" name="input" value="" placeholder="Use English webpage">
                <input id="submit" type="submit" name="submit" value="Submit" onsubmit="return Client.handleSubmit(event)">
                <!--onclick="return Client.handleSubmit(event)"-->
            </form>
            <div id="results">
                <strong>Analysis Results:</strong>
                <table class="result">

                    <tr>
                        <td>Polarity</td>
                        <td id="polarity"></td>
                    </tr>
                    <tr>
                        <td>Subjectivity</td>
                        <td id="subjectivity"></td>
                    </tr>
                </table>
            </div>
    </main>

    <footer>
        <a href="mailto:carmen39@gmail.com">@Carmen Chen</a>-Udacity FEND project
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>