@import "./master";
@import "~bootstrap/scss/bootstrap";
input {
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    outline-color: $accent-color !important;
    border-radius: 8px;
    color: $primary-color-light-bg !important;
}

.btn {
    display: flex !important;
    margin: 0 auto;
    float: none;
    &.btn-primary {
        justify-content: center;
        background-color: $accent-color !important;
        background-image: none;
        border-color: $accent-color !important;
        box-shadow: none;
        text-shadow: none;
        border-radius: 2px;
        background-repeat: no-repeat;
        margin-top: 25px;
        width: 30%;
        height: 30%;
        padding-top: 6px;
        &.btn-primary:hover {
            background-color: $accent-color !important;
            border: 1px solid $accent-color !important;
        }
    }
}

button#submitEntityButton.btn.btn-primary:focus {
    background-color: $accent-color !important;
    border: 1px solid $accent-color !important;
    outline-color: $accent-color !important;
}

button#submitClassifyButton.btn.btn-primary:focus {
    background-color: $accent-color !important;
    border: 1px solid $accent-color !important;
    outline-color: $accent-color !important;
}

button#submitSentimentButton.btn.btn-primary:focus {
    background-color: $accent-color !important;
    border: 1px solid $accent-color !important;
    outline-color: $accent-color !important;
}